# Keep .pyc files from being included
python/sub/*.pyc
python/sub/__pycache__/

# Don't include the sphinx build dir
docs/gen_regs_py_doc/build/
docs/gen_uvm_reg_model_doc/build/


# Don't include the pyinstaller build/dist dirs as we copy the exec to the top
exec/build/
exec/dist/
exec/*.spec


#
venv/
